:root {
	--base-color: rgb(38, 43, 72) !important;
	--primary-color: #262b48 !important;
	--secondary-color: #262b48 !important;
	--font-stack: "Poppins", sans-serif;
	--font-body-size: 21px;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
/* ==========================================================================================
                                      Style Table
========================================================================================== */

/*
1.0 body
	1.1 Miscealleaneous (spelt wrongly of course,lol)
		header Styles
		Small and Paragraph
	1.2 Utilities
2.0 Header
	2.1 Header nav
	2.2 Header button
3.0 MainPage section (Grid Layout)
	3.1 Image div (Grid Item)
	3.2 Point section (Grid Item)
		3.2.1 TopProgress (Grid Layout)
			  3.2.1.1 First Grid Item
			  3.2.1.2 Second Grid Item
			  3.2.1.3 Third Grid Item
	3.3 Claim Button (Grid Item)
		3.3.1 Button
		3.3.2 Button Outline
		3.3.3 Button Hover
4.0 Footer
5.0 Responsive Layout
*/
/* ==========================================================================================
                                       1.0  Body
========================================================================================== */

body {
	font-family: var(--font-stack);
	color: #000;
	font-size: 24px;
	overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--font-stack);
	font-weight: bold;
	color: var(--base-color);
}

h1 {
	font-size: 48px;
}

h2 {
	font-size: 36px;
}

h3 {
	font-size: 32px;
}

small,
p {
	color: var(--primary-color) !important;
}

/* ==========================================================================================
                                        Utilities
========================================================================================== */

.bg-base {
	background-color: var(--base-color) !important;
}

.bg-primary {
	background-color: var(--primary-color) !important;
}

.bg-secondary {
	background-color: var(--secondary-color) !important;
}

.btn-base {
	background-color: var(--base-color) !important;
}

.btn-primary {
	background-color: var(--primary-color) !important;
}

.btn-secondary {
	background-color: var(--secondary-color) !important;
}

/* ==========================================================================================
                                          Header
========================================================================================== */
/*2.0   Header Styles */
header {
	background: var(--secondary-color);
	font-weight: 600;
	font-size: 18px;
}

header nav .current {
	border-bottom: 2px solid #fff;
}

header nav .btn {
	font-weight: 600;
	font-size: 18px;
}

header .navbar-dark .navbar-nav .nav-link {
	color: #333 !important;
}

header .nav-btn.btn-outline-light:hover {
	color: var(--base-color) !important;
}

header nav .nav-item {
	margin-right: 1.3rem;
}

header .btn-outline {
	border: 2px solid #fff;
	color: #fff;
}
/* ==========================================================================================
                                       3.0   Main Page Section
========================================================================================== */

.mainpage {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: repeat(3, minmax(0, auto));
	text-align: center;
}

.imageDiv {
	grid-column: 1/13;
	grid-row: 1/2;
	text-align: center;
}
.imageDiv img {
	border-radius: 50%;
}

.points {
	grid-column: 1/13;
	grid-row: 2/3;
}

.topProgress {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: repeat(3, minmax(0, auto));
	grid-gap: 2%;
}

#first {
	grid-row: 1/2;
	grid-column: 1/5;
	border: 1px solid var(--secondary-color);
	border-radius: 10px;
}

#second {
	grid-row: 1/2;
	grid-column: 5/9;
	border: 1px solid var(--secondary-color);
	border-radius: 10px;
}

#third {
	grid-row: 1/2;
	grid-column: 9/13;
	border: 1px solid var(--secondary-color);
	border-radius: 10px;
}

.claimBtn {
	grid-column: 1/13;
	grid-row: 3/4;
}

.claimBtn button {
	background-color: #fff;
	color: var(--primary-color);
}
.claimBtn .btn-outline {
	border: 2px solid var(--primary-color) !important;
	color: var(--primary-color) !important;
	margin-top: 3%;
	margin-bottom: 3%;
	padding: 0.5rem 1.5rem;
}

.claimBtn button:hover {
	background-color: var(--primary-color);
	color: #fff !important;
}
button:hover {
	background-color: #fff;
	color: var(--primary-color) !important;
}
/* ==========================================================================================
                                       4.0   Footer
========================================================================================== */

footer p {
	color: #fff;
	opacity: 0.9;
}

/* ==========================================================================================
                                      Responsiveness
========================================================================================== */

@media (max-width: 1200px) {
	header nav .btn {
		margin-top: 1rem !important;
	}
}

@media (max-width: 1000px) {
	#first {
		grid-row: 1/2;
		grid-column: 1/13;
	}

	#second {
		grid-row: 2/3;
		grid-column: 1/13;
	}

	#third {
		grid-row: 3/4;
		grid-column: 1/13;
	}

	.imageDiv p {
		font-size: 16px;
	}

	@media (max-width: 768px) {
		.navbar .navbar-brand {
			font-size: 30px;
		}

		img.img-fluid {
			max-width: 70%;
		}

		footer li,
		footer {
			font-size: 15px;
		}

		footer.container-fluid {
			padding-left: 1.5rem !important;
			padding-right: 1.5rem !important;
		}
	}
}
